<style type="text/css">
  .css-form input.ng-invalid-required {
    background-color: #FA787E;
  }

  .css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
  }
</style>

<div class="content" id="content_recettes_details">

	<section class="section">
		<div class="row">
			<div class="col-xs-4">
				<img class="recette_img" src="{{recipe.picture}}" alt="{{recipe.name}}">
			</div>
			<div class="col-xs-8">
				<h1 class="rec_name">{{recipe.name}}</h1>
				<p class="rec_note">
					<span class="stars">
						<span class="star glyphicon glyphicon-heart" ng-repeat="i in getNumber(recipe.mark) track by $index"></span>
					</span>
					<span class="notes">| {{recipe.mark}}/5 - {{recipe.comments.length}} vote(s)</span>
				</p>
				<div class="ingredients_list">
					<p class="list-title">Ingrédients</p>
					<ul class="list">
						<li class="item" ng-repeat="ingredient in recipe.ingredients">
							<img class="item-img" src="img/ingredients/{{ingredient.picture}}" alt="{{ingredient.name}}">
							<p class="item-name" title="tomate">{{ingredient.name}}</p>
						</li>
					</ul>
				</div>
				<p class="rec_cal">Valeur calorique <span class="for">(100g)</span> : <span class="val">{{recipe.calories}} kcal</span></p>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="overline-title"><span class="text">Préparation</span></h2>
			</div>
			<div class="col-xs-12">
				<p ng-bind-html="recipe.preparationHtml"></p>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="overline-title"><span class="text">Commentaires</span></h2>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="panel">
					<div class="filters">
						<h3 class="panel_title">Donnez-nous votre avis !</h3>
						<form class="css-form">
							<div class="filter">
								<p><label for="">Notez cette recette</label></p>
								<p>
									<select name="" id="" ng-model="newComment.mark" required>
										<option value="5">5</option>
										<option value="4">4</option>
										<option value="3">3</option>
										<option value="2">2</option>
										<option value="1">1</option>
									</select>
								</p>
							</div>
							<div class="filter">
								<p><label for="">Le titre de votre commentaire</label></p>
								<p><input type="text" placeholder="ex: Amazingue !" required ng-model="newComment.title"></p>
							</div>
							<div class="filter">
								<p><label for="">Votre commentaire</label></p>
								<textarea name="" id="" class="wide" placeholder="ex: Franchement cette NgRecette, c’est de la bombe. Le genre de saveurs qui t’éveillent les papilles, t’as vu ! Woula, j’ai kiffé" required ng-model="newComment.comment"></textarea>
							</div>
							<div class="ar">
								<button type="button" class="btn btn_color1" value="Poster !" ng-click="addComment(newComment)">Poster !</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<ul class="comments">
					<li class="comment" ng-repeat="comment in recipe.comments">
						<p class="name">{{comment.title}}<span class="note">{{comment.mark}}/5</span></p>
						<p class="by">par <a href="#/member/{{comment.id}}">{{comment.member.firstname}} {{comment.member.surname}}</a></p>
						<p class="text">{{comment.comment}}</p>
					</li>
				</ul>
				<div class="row showmore">
					<div class="col-xs-12">
						<button type="button" class="btn btn_grey"><span class="glyphicon glyphicon-chevron-down"></span>Afficher d'avantage</button>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<h2 class="title">~ Vous aimerez aussi... ~</h2>
		<div class="recettes row">
			<div class="col-xs-6 col-sm-3 recette" ng-repeat="otherRecipe in recipes | filter: hideCurrentRecipe">
				<a href="#/recipe/{{otherRecipe.id}}">
					<img src="{{otherRecipe.picture}}" alt="{{otherRecipe.name}}">
					<div class="top" title="note : {{otherRecipe.mark}}/5">
						<span class="note">
							<span class="glyphicon glyphicon-heart" ng-repeat="i in getNumber(otherRecipe.mark) track by $index"></span>
						</span>
					</div>
					<div class="bot">
						<p class="name">{{otherRecipe.name}}</p>
					</div>
				</a>
			</div>
		</div>
	</section>
	
</div>