<!DOCTYPE html>
<html lang="fr" ng-app="ngCooking">

<head>
<meta charset="utf-8" />
<title>NgCooking</title>

<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="c17 engineering" />
<meta name="copyright" content="c17 engineering" />

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />
<meta name="apple-mobile-web-app-title" content="c17 engineering, recettes de cuisine à partager">
<meta name="mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />

<link rel="shortcut icon" href="img/favicon.png" />
<link rel="image_src" href="img/favicon.png"/>
<link rel="icon" type="image/png" href="img/favicon.png"/>

<meta name="robots" content="noindex, nofollow" />

<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>

<!-- build:js css/ngcooking.min.css -->
<link href="css/reset.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/animations.css" rel="stylesheet" type="text/css" />
<!-- endbuild -->

<!-- build:js bower_components/jquery/dist/jquery.min.js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<!-- endbuild -->
<!-- build:js bower_components/angular/angular.min.js -->
<script src="bower_components/angular/angular.js"></script>
<!-- endbuild -->
<!-- build:js bower_components/angular-route/angular-route.min.js -->
<script src="bower_components/angular-route/angular-route.js"></script>
<!-- endbuild -->
<!-- build:js bower_components/angular-animate/angular-animate.min.js -->
<script src="bower_components/angular-animate/angular-animate.js"></script>
<!-- endbuild -->
<!-- build:js bower_components/angular-cookies/angular-cookies.min.js -->
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<!-- endbuild -->

<!-- build:js js/ngcooking.min.js -->
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<!-- endbuild -->

</head>
<body>

<div id="wrapper">
	<header id="header">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<a href="/" class="logo">
						<img src="img/logo_header.png" alt="">
					</a>
					<div class="desc" ng-controller="LayoutCtrl">
						<p>Partagez vos meilleures recettes avec<br/>la communauté NgCooking</p>
						<p><a class="link" href="#/recipes"><strong>{{recipesCount}} recettes</strong> à découvrir !</a></p>
					</div>
				</div>
			</div>
		</div>
	</header>
	<main id="main">
		<div class="container">
			<div class="row">
				<div class="col-xs-3">
					<nav id="nav">
						<ul class="menu" ng-controller="LayoutCtrl">
							<li class="page_hom" ng-class="{ 'active': path === '/home' }">
								<a href="/">Accueil</a>
							</li>
							<li class="page_rec" ng-class="{ 'active': path === '/recipes' || path === '/recipe-new' || path === '/recipe' }">
								<a href="#/recipes">Recettes</a>
							</li>
							<li class="page_ing" ng-class="{ 'active': path === '/ingredients' }">
								<a href="#/ingredients">Ingredients</a>
							</li>
							<li class="page_com" ng-class="{ 'active': path === '/community' }">
								<a href="#/community">Communauté</a>
							</li>
						</ul>
						<div class="account-area" ng-controller="LoginCtrl">
							<button type="button" class="button connect" ng-hide="loggedIn" ng-click="showLoginPopin()"><span class="icon"></span>Connexion</button>
							<a href="#/member/{{memberId}}" class="button account" ng-show="loggedIn"><span class="icon" ></span>Mon profil</a>
							<button type="button" class="button deconnect" ng-show="loggedIn" ng-click="logout()"><span class="glyphicon glyphicon-off"></span>Deconnexion</button>
							
							<div class="popin" data-popin="connect_popin" ng-show="displayLoginModal">
								<div class="popin-content">
									<div class="popin-scroll">
										<p class="popin-title">Connexion</p>
										<form novalidate>
											<p>
												<label for="co_user" class="fwb">Identifiant (email)</label>
												<input id="co_user" class="wide" type="text" ng-model="user.email" />
											</p>
											<p>
												<label for="co_pwd" class="fwb">Mot de passe</label>
												<input id="co_pwd" class="wide" type="text" ng-model="user.password" />
											</p>
											<p class="ac nm mt2">
												<button type="button" class="btn btn_big btn_color1" ng-click="login(user.email, user.password)"><span class="glyphicon glyphicon-ok"></span><span class="fwb uc">Valider</span></button>
											</p>
											<div class="col-xs-12" ng-show="loginFailed">
												<p class="ac mt2 tb">
													<span class="glyphicon glyphicon-exclamation-sign color2"></span>
													<span>Woops ! L'authentification a échoué</span>
												</p>
											</div>
										</form>
									</div>
									<button class="close popin-close" ng-click="hideLoginPopin()"><span class="glyphicon glyphicon-remove"></span></button>
								</div>
								<div class="popin-backlayer"></div>
							</div>
							
						</div>
					</nav>
				</div>
				<div class="col-xs-9 view-frame" ng-view>
					
				</div>
			</div>
		</div>
	</main>
	<footer id="footer">
		<div class="container">
			<div class="row cuisto-img-wrap">
				<div class="col-xs-3">
					<div class="cuisto-img"></div>
				</div>
				<div class="col-xs-9">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse optio repellat temporibus molestiae ducimus quibusdam eum maiores voluptatum sapiente reprehenderit. Est, modi, tenetur. Tempora perferendis eveniet unde numquam cupiditate nam?</p>
					<div class="hr"></div>
					<p class="copyright">copyright @ngcooking 2015-2016</p>
				</div>
			</div>

		</div>
	</footer>
</div>

<script type="text/javascript">
	$(function(){
		$("[data-popin-open]").click(function(){
			var popin = $(this).attr("data-popin-open");
			$("[data-popin='"+popin+"']").addClass("displayed");
		});
		$("[data-popin] .popin-backlayer, [data-popin] .popin-close").click(function(){
			$(this).parents(".popin").removeClass("displayed");
		});
	});
</script>

</body>
</html>